<ion-content padding>
    <ion-item color="dark">
      <ion-label>Rest duration</ion-label>
      <ion-datetime placeholder="Tap here" display-format="mm:ss" [(ngModel)]="fulltime" (ionChange)="updateMyDate(myPicker.value)"></ion-datetime>
    </ion-item>
  <round-progress 
   [current]="current" 
   [max]="100" 
   [color]="'#8000ff'" 
   [background]="'#eaeaea'" 
   [radius]="radius"    
   [stroke]="20" 
   [semicircle]="false" 
   [rounded]="true" 
   [clockwise]="true" 
   [responsive]="true" 
   [duration]="800"
   [animation]="'easeInOutQuart'" 
   [animationDelay]="0" 
   (click)="startTimer()"  
   >
  </round-progress>

  <p>{{ elapsed.h }}:{{ elapsed.m}}:{{ elapsed.s}}</p>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ng-container *ngIf="timer == false; else running">
      <ion-fab-button (click)="startTimer()">
          <ion-icon name="play"></ion-icon>
        </ion-fab-button>
    </ng-container> 
    <ng-template #running>
        <ion-fab-button (click)="stopTimer()">
            <ion-icon name="square"></ion-icon>
          </ion-fab-button>
    </ng-template>
</ion-fab>
</ion-content>